services:
  web:
    build:
      context: .
      dockerfile: ./dockerfiles/python/Dockerfile
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    restart: always
    expose:
      - 8000
    volumes:
      - .:/code
    # network_mode: "host"
    networks:
      default:
        ipv4_address: 172.20.0.2

  nginx:
    build:
      context: .
      dockerfile: ./dockerfiles/nginx/Dockerfile
    restart: always
    volumes:
      - ./staticfiles/:/code/staticfiles
      - ./mediafiles/:/code/mediafiles
    ports:
      - ${APP_PORT}:80
    depends_on:
      - web
    networks:
      default:
        ipv4_address: 172.20.0.3

networks:
  default:
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/24
        - subnet: 2001:db8:1::/64
